<!--googlemap-->
<!--<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBUMIcfRwkjLaMVbte4kk9_buYZ1PmPrHU&sensor=true"></script>-->
<ion-view title="Home">

    <ion-content padding="true" class="has-header" >
      
    <div  data-tap-disabled="true">
      <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options"></ui-gmap-google-map>
      </div>
      <div class="button-bar" style=" position: absolute; bottom: 2px;">
        <button class="button button-icon icon ion-ios-search-strong"  ng-click="showAlert()"></button>
        <button class="button button-icon icon ion-speakerphone" ng-click="showPopup()"></button>
        <button class="button button-icon icon ion-ios-bell-outline" ng-click="showAlert()"></button>
      </div>
       
      <script id="popup-template.html" type="text/ng-template">

            <div class="button-bar">
                <a class="button button-small" ng-class="{'button-positive': isActive('resource')}" ng-click="setActive('resource')">物資</a>
                <a class="button button-small" ng-class="{'button-positive': isActive('post')}" ng-click="setActive('post')">通報</a>
                <a class="button button-small" ng-class="{'button-positive': isActive('help')}" ng-click="setActive('help')">求助</a>
             </div>
        <p></p>
        <textarea placeholder="輸入訊息..." style="width:280px;height:150px;background-color: #E8E8E8 " ng-model="data.message"></textarea>
        <p></p>
        </div>
       <div style="text-align: center;">
         <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
         <a class="button button-icon icon ion-camera" ng-click = "takePhoto()"></a>
        </div>
       </script>

         

    </ion-content>

</ion-view>
