<ion-view title="個人資料">
    <ion-content padding="'true'" class="has-header">
        <ion-list></ion-list>
        <ion-list>
            <ion-item menu-close="" class="item-thumbnail-left" href="#/UploadPicture">
                <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
                <h2>{{UserName}}</h2>
                <p>{{UserEmail}}</p>
            </ion-item>
        </ion-list>
        <ion-list></ion-list>
        <div class="spacer" style="width: 300px; height: 52px;"></div>
        <ion-list>
            <label class="item item-input">
                <span class="input-label">聯絡方式</span>
                <input type="text" placeholder="">
            </label>           
        </ion-list>
    </ion-content>
</ion-view>