<ion-view title="註冊">

    <ion-nav-bar align-title="center" class="bar-dark nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear">
        <i class="ion-arrow-left-c"></i> Back
      </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content padding="true" class="has-header">
        <form>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">帳號</span>
                    <input type="text" placeholder="enter username" ng-model="data.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="gmail" ng-model="data.email">
                </label>
                <label class="item item-input">
                    <span class="input-label">密碼</span>
                    <input type="password" placeholder="At least 6 characters" ng-model="data.password">
                </label>
                <label class="item item-input">
                    <span class="input-label">確認密碼</span>
                    <input type="password" placeholder=" " ng-model="data.confirm_password">
                </label>
            </ion-list>
            <button class="button button-full button-positive" ng-click="Register()">完成</button>
        </form>
    </ion-content>
</ion-view>
