<ion-view title="Verification">
    <ion-nav-bar align-title="center" class="bar-dark nav-title-slide-ios7">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="input_number">
                <input type="text" placeholder="請由email取得認証碼"  ng-model="data.emailverification">
            </label>
        </form>
        <button class="button button-positive button-block " ng-click="Check()" >送出</button>

    </ion-content>
</ion-view>