<ion-view title="Login">
    <ion-content padding="false" class="has-header">
        <form>
            <img src="/img/4QFr3V4lTMqv6OoAqeAY_user.png" width="50%" height="auto" style="width: 50%; height: auto; display : block ;  margin:10px auto;" >
            <ion-list >
                <label class="item item-input">
                    <span class="input-label" >Username</span>
                    <input type="text" placeholder="enter your username..." ng-model="data.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="enter your password..." ng-model="data.password">
                </label>
            </ion-list>

            <div style="text-align: center;">
                <button class="button button-calm button-outline" style="width:80%; margin:20px;" ng-click="loginEmail()">Login</button>



                <a href="#/signup" class="button button-stable button-outline button-inline button-small" style="margin-right:50px;">Create Account</a>

                <a href="" class="button button-stable button-outline button-inline button-small">Forget Password</a>

                <div style=" text-align: center; margin:15px;">
                     <button class="button button-outline button-positive"  style="width: 40%;" ng-click="loginFacebook()">
                          FB login
                     </button>
                </div>

            </div>
        </form>
    </ion-content>
</ion-view>
