<!--googlemap-->
<!--<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBUMIcfRwkjLaMVbte4kk9_buYZ1PmPrHU&sensor=true"></script>-->
<ion-view title="Home" >

    <ion-content padding="true" class="has-header" >


        <div id="map" data-tap-disabled="true"></div>

        <div class="button-bar">
  	<a class="button button-icon icon ion-ios-search-strong"></a>
  	<a class="button button-icon icon ion-speakerphone"></a>
  	<a class="button button-icon icon ion-ios-bell-outline"></a>
        </div>

    </ion-content>

</ion-view>
