<!--googlemap-->
<!--<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBUMIcfRwkjLaMVbte4kk9_buYZ1PmPrHU&sensor=true"></script>-->
<ion-view title="Home">

    <ion-content padding="true" class="has-header" >
   	<div class="bar  bar-subheader bar-header " style=" text-align: center;">
          <div class="button-bar">
          <a class="button button-small button-light">Map</a>
          <a class="button button-small button-light">List</a>
          </div>
      </div>

        <div id="map" data-tap-disabled="true"></div>

        <div class="button-bar">
  	<button class="button button-icon icon ion-ios-search-strong"  ng-click="showAlert()"></button>
  	<button class="button button-icon icon ion-speakerphone" ng-click="showPopup()"></button>
  	<button class="button button-icon icon ion-ios-bell-outline" ng-click="showAlert()"></button>
        </div>

      <script id="popup-template.html" type="text/ng-template">
        <textarea style="width:230px;height:100px;background-color: #C0C0C0 " ng-model="data.message"></textarea>
        <ion-list>
            <ion-toggle toggle-class="toggle-positive">Show position</ion-toggle>
        </ion-list>
      </script>

    </ion-content>

</ion-view>
