
<ion-view title="Map" > 
<!--<ion-nav-bar align-title="center" class="bar-calm nav-title-slide-ios7">      
    </ion-nav-bar>-->
    <ion-content padding="true" class="has-header" >

       <!-- <div style="line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-align: center; width: 100%; height: auto;">   
        </div>
           <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>-->
     
        <div id="map" data-tap-disabled="true"></div>
    </ion-content>
    <!--<ion-footer-bar class="bar-dark">
      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
    </ion-footer-bar>-->

</ion-view>